# 1. Connect to Postgres

In [6]:
import pandas as pd
from sqlalchemy import create_engine
import time

In [7]:
engine = create_engine('postgresql://postgres:postgres@localhost:5432/postgres')
engine.connect()

In [8]:
query = """
SELECT 1 as number;
"""

pd.read_sql(query, con=engine)

   number
0       1

In [9]:
query = """
SELECT *
FROM pg_catalog.pg_tables
WHERE schemaname != 'pg_catalog' AND 
    schemaname != 'information_schema';
"""

pd.read_sql(query, con=engine)

Empty DataFrame
Columns: [schemaname, tablename, tableowner, tablespace, hasindexes, hasrules, hastriggers, rowsecurity]
Index: []

# 2. Read and Load dataset

In [16]:
table_name = 'yellow_tripdata'
df_iter = pd.read_csv('dataset\yellow_tripdata_2021-01.csv', iterator=True, chunksize=100000)
df = next(df_iter)

In [18]:
df_t = pd.read_csv('dataset\yellow_tripdata_2021-01.csv', engine="pyarrow")

In [15]:
df_t.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1369765 entries, 0 to 1369764
Data columns (total 18 columns):
 #   Column                 Non-Null Count    Dtype
---  ------                 --------------    -----
 0   VendorID               1271413 non-null  float64
 1   tpep_pickup_datetime   1369765 non-null  datetime64[ns]
 2   tpep_dropoff_datetime  1369765 non-null  datetime64[ns]
 3   passenger_count        1271413 non-null  float64
 4   trip_distance          1369765 non-null  float64
 5   RatecodeID             1271413 non-null  float64
 6   store_and_fwd_flag     1369765 non-null  object
 7   PULocationID           1369765 non-null  int64
 8   DOLocationID           1369765 non-null  int64
 9   payment_type           1271413 non-null  float64
 10  fare_amount            1369765 non-null  float64
 11  extra                  1369765 non-null  float64
 12  mta_tax                1369765 non-null  float64
 13  tip_amount             1369765 non-null  float64
 14  tolls_amount           1369765 non-null  float64
 15  improvement_surcharge  1369765 non-null  float64
 16  total_amount           1369765 non-null  float64
 17  congestion_surcharge   1369765 non-null  float64
dtypes: datetime64[ns](2), float64(13), int64(2), object(1)
memory usage: 188.1+ MB

In [22]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 18 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   VendorID               100000 non-null  int64
 1   tpep_pickup_datetime   100000 non-null  object
 2   tpep_dropoff_datetime  100000 non-null  object
 3   passenger_count        100000 non-null  int64
 4   trip_distance          100000 non-null  float64
 5   RatecodeID             100000 non-null  int64
 6   store_and_fwd_flag     100000 non-null  object
 7   PULocationID           100000 non-null  int64
 8   DOLocationID           100000 non-null  int64
 9   payment_type           100000 non-null  int64
 10  fare_amount            100000 non-null  float64
 11  extra                  100000 non-null  float64
 12  mta_tax                100000 non-null  float64
 13  tip_amount             100000 non-null  float64
 14  tolls_amount           100000 non-null  float64
 15  improvement_surcharge  100000 non-null  float64
 16  total_amount           100000 non-null  float64
 17  congestion_surcharge   100000 non-null  float64
dtypes: float64(9), int64(6), object(3)
memory usage: 13.7+ MB

In [23]:
df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

In [25]:
df.head(0).to_sql(name=table_name, con=engine, if_exists='replace')

0

In [26]:
df.to_sql(name=table_name, con=engine, if_exists='append')

1000

In [27]:
while True:
    try:
        
        df = next(df_iter)
        
        df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
        df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)
        
        df.to_sql(name=table_name, con=engine, if_exists='append')
        
    except StopIteration:
        print("Finished ingesting data into the postgres database")
        break

C:\Users\DangTinh\AppData\Local\Temp\ipykernel_11516\3208526733.py:4: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  df = next(df_iter)

Finished ingesting data into the postgres database

In [28]:
# test the data ingestion
query = f"""
SELECT *
FROM {table_name}
LIMIT 5;
"""

pd.read_sql(query, con=engine)

ProgrammingError: (psycopg2.errors.SyntaxError) syntax error at or near "-"
LINE 3: FROM yellow_tripdata_2021-01
                                 ^

[SQL:
SELECT *
FROM yellow_tripdata_2021-01
LIMIT 5;
]
(Background on this error at: https://sqlalche.me/e/14/f405)